
.govuk-notification-banner  {
    
    background-color:  	#d4351c;
    border: 5px solid 	#d4351c;

  }

  .govuk-panel{
    background-color:	#1d70b8;
   
  }

  .summary-box {
    max-width: 312px;
    margin-right: 12px;
    margin-bottom: 12px;
    padding: 15px 10px;
    page-break-inside: avoid;
  }

  .summary-box-eligible, .summary-box-not-assessed, .summary-box-contribution-required-and-overall-ineligible {
    background-color: #f3f2f1;
}

.summary-box-holder {
    display: flex
;
    align-items: stretch;
}
