{% extends "layouts/v1.html" %}

<!--Service navigation-->
{% block header %}

{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Manage legal help cases",
  serviceUrl: "/v1/home/new",
  classes: "govuk-header--full-width-border",
  navigation: [
    {
      href: "#1",
      text: "Username",
      active: true
    },
    {
      href: "#2",
      text: "Sign out"
    }
  ]
}) }}


{{ govukServiceNavigation({
  navigation: [
    {
      href: "/v1/home/new",
      text: "Your cases",
      active: true
    },
    {
      href: "/v1/home/search",
      text: "Search"
    }
  ]
}) }}
  {% endblock %}



{% block content %}

 <!--If clase is reopened show this show banner-->

 {% if data['split-case'] %}
 <div class="govuk-notification-banner govuk-notification-banner--success  govuk-!-margin-bottom-6" role="alert"  aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
   <div class="govuk-notification-banner__header">
     <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
       Success
     </h2>
   </div>
   <div class="govuk-notification-banner__content">
     <p class="govuk-notification-banner__heading">
       Case for {{ data[caseSelected]['fullName'] }} split successfully
     </p>
   </div>
 </div>
 {% endif %}
 

<!--Heading-->

<h1 class="govuk-heading-xl">Your legal help cases</h1>

    
<!--Subnav-->

    {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

    {{ mojSubNavigation({
      label: 'Sub navigation',
      items: [{
        text: 'New',
        href: 'new.html',
        active: true
      }, {
        text: 'Accepted',
        href: 'accepted.html'
      }, {
        text: 'Closed',
        href: 'closed.html'
      }]
    }) }}

<!--Case table - this might need to be changed to nunjucks for the JSON data work? 
I did it in html as I couldn't figure out how to disable to sortabibility of certain columns in nunjucks-->

    <table class="govuk-table" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Reference</th>
          <th scope="col" class="govuk-table__header" >Area of law</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Urgent</th>
          <th scope="col" class="govuk-table__header">Outcome code</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Date received</th>
        </tr>
      </thead>    
      <tbody class="govuk-table__body">
        {% for case, value in data %}
          {% if value.caselistOutcomeCode == "SPOP" %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="../cases/new/case1/clientdetails.html" id="{{value.id}}">{{value.fullName}}</a></td>
              <td class="govuk-table__cell">{{value.caseReference}}</td>
              <td class="govuk-table__cell">{{value.clientProblem}}</td>
              {% if value.urgent == "Yes" %}
                <td class="govuk-table__cell" data-sort-value={{value.urgent}}><strong class="govuk-tag govuk-tag--red">Urgent</strong></td>
              {% else%}
                <td class="govuk-table__cell" data-sort-value={{value.urgent}}>{{value.urgent}}</td>
              {% endif %}
              <td class="govuk-table__cell" data-sort-value={{value.caselistOutcomeCode}}>{{ value.caselistOutcomeCode }}</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value={{value.caselistRecieved}}>{{value.caselistRecieved}}</td>
            </tr>
          {% endif %} 
        {% endfor %}
      </tbody>
    </table>
    

<!--Pagination-->

{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{{ govukPagination({
  next: {
    href: "#"
  },
  items: [
    {
      number: 1,
      current: true,
      href: "#"
    },
    {
      number: 2,
      href: "#"
    },
    {
      number: 3,
      href: "#"
    }
  ]
}) }}
{% endblock %}