{% extends "layouts/v1.html" %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">Manage your legal help cases</h1>

    


    {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

    {{ mojSubNavigation({
      label: 'Sub navigation',
      items: [{
        text: 'New',
        href: 'new.html',
        active: true
      }, {
        text: 'Accepted',
        href: 'accepted.html'
      }, {
        text: 'Closed',
        href: 'closed.html'
      }]
    }) }}


    <table class="govuk-table" data-module="moj-sortable-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
    
          <th scope="col" class="govuk-table__header">Name</th>
    
          <th scope="col" class="govuk-table__header">Reference</th>
    
          <th scope="col" class="govuk-table__header" >Area of Law</th>
    
          <th scope="col" class="govuk-table__header" aria-sort="none">Urgent</th>

          <th scope="col" class="govuk-table__header">Outcome code</th>

          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Date recieved</th>


        </tr>
      </thead>
    
      <tbody class="govuk-table__body">
    
        <tr class="govuk-table__row">
    
          <td class="govuk-table__cell"><a href="../cases/new/case1/clientdetails.html">Mary Flynn</a></td>
    
          <td class="govuk-table__cell">PC-4950-9422</td>
    
          <td class="govuk-table__cell">Discrimination</td>
    
          <td class="govuk-table__cell" data-sort-value="8">No</td>

          <td class="govuk-table__cell">SPOP</td>

          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="14">14 Jan 2025</td>
    
        </tr>

        <tr class="govuk-table__row">
    
          <td class="govuk-table__cell"><a href="#">Jamil Hussain</a></td>
    
          <td class="govuk-table__cell">PC-2521-2984</td>
    
          <td class="govuk-table__cell">Discrimination</td>
    
          <td class="govuk-table__cell" data-sort-value="1"><strong class="govuk-tag govuk-tag--red">
           Urgent
          </strong></td>

          <td class="govuk-table__cell">CLSP</td>

          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="15">15 Jan 2025</td>
    
        </tr>
    
    
      </tbody>
    </table>
    



{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{{ govukPagination({
  next: {
    href: "#"
  },
  items: [
    {
      number: 1,
      current: true,
      href: "#"
    },
    {
      number: 2,
      href: "#"
    },
    {
      number: 3,
      href: "#"
    }
  ]
}) }}
{% endblock %}