{% extends "layouts/v1.html" %}



{% block header %}

{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Manage legal help cases",
  serviceUrl: "/v1/home/new",
  classes: "govuk-header--full-width-border",
  navigation: [
    {
      href: "#1",
      text: "Username",
      active: true
    },
    {
      href: "#2",
      text: "Sign out"
    }
  ]
}) }}


{{ govukServiceNavigation({
  navigation: [
    {
      href: "/v1/home/new",
      text: "Your cases"
    },
    {
      href: "/v1/home/search",
      text: "Search",
      active: true
    }
  ]
}) }}
  {% endblock %}


{% block content %}
<!--Heading-->

    
<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">
      Search for a case
    </h1>
  </div>
</div>
<p>Enter details in at least one field to search </p>


<!--Search box-->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div style="padding: 15px 20px 0px 20px;
    border-bottom: 1px solid transparent;
    background-color: #f3f2f1;" class="searchpanel govuk-!-margin-bottom-6">

      <div class="govuk-form-group govuk-!-width-two-thirds" role="search">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="filterSearch">
            Case details
          </label>
        </h2>
        <div id="search-hint" class="govuk-hint">
          <p class="govuk-body">You can search by:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>case number (eg. EH-1234-2925)</li>
            <li>7 digit entilement number</li>
            <li>name</li>
            <li>postcode</li>
            <li>address</li>
          </ul>
        </div>
        <input class="govuk-input" id="filterSearch" name="filterSearch" type="search" aria-describedby="search-hint" aria-description="Search will filter the table of users">

      </div>
      

      <div id="filters" class="govuk-date-input">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="filterbuttonContainer">
              Status
            </label>
            <select class="govuk-select" id="filterbuttonContainer" name="filterbuttonContainer">
              <option value="Show all" selected onclick="filterSelection('all')">Show all</option>
              <option value="Not assigned" onclick="filterSelection('none')">New</option>
              <option value="In progress" onclick="filterSelection('in-progress')">Accepted</option>
              <option value="Sent back" onclick="filterSelection('sent-back')">Closed</option>
            </select>
          </div>
        </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button" onclick="search()" id="searchButton">
          Search
        </button>

        <a class="govuk-link" href="#" onclick="clearsearch()">Clear all</a>
      </div>
            
    </div>
    </div>

 <!--Search results table-->  

    <div style="display:none" id="resultsTable">
      
    <h3 class="govuk-heading-m">2 search results</h3>

      <table class="govuk-table" data-module="moj-sortable-table">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
      
            <th scope="col" class="govuk-table__header">Name</th>
      
            <th scope="col" class="govuk-table__header">Reference</th>
      
            <th scope="col" class="govuk-table__header" >Area of law</th>
      
            <th scope="col" class="govuk-table__header" aria-sort="none">Urgent</th>
  
            <th scope="col" class="govuk-table__header">Outcome code</th>
  
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Last modified</th>
  
  
          </tr>
        </thead>
      
        <tbody class="govuk-table__body">
      
          <tr class="govuk-table__row">
      
            <td class="govuk-table__cell"><a href="../cases/accepted/case1/clientdetails.html">{{ data['fullName'] }}</a></td>
      
            <td class="govuk-table__cell">PC-4643-3623</td>
      
            <td class="govuk-table__cell">Discrimination</td>
      
            <td class="govuk-table__cell" data-sort-value="0">No</td>
  
            <td class="govuk-table__cell">SPOP</td>
  
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="8">8 days ago</td>
      
          </tr>
  
          <tr class="govuk-table__row">
      
            <td class="govuk-table__cell"><a href="#">Maya Garcia</a></td>
      
            <td class="govuk-table__cell">PC-2521-2984</td>
      
            <td class="govuk-table__cell">Discrimination</td>
      
            <td class="govuk-table__cell" data-sort-value="0">No</td>
  
            <td class="govuk-table__cell">CLSP</td>
  
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="8">8 days ago</td>
      
          </tr>
      
      
        </tbody>
      </table>
      
    </div>

<!--on click of search button show results table-->

    <script>
      function search() {
        var x = document.getElementById("resultsTable");
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "block";
        }
      }
      </script>

 <!--on click clear link hide results table-->


    <script>
      function clearsearch() {
        var x = document.getElementById("resultsTable");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "none";
        }
      }
      </script>

{% endblock %}