{% extends "layouts/question_page_v2.html" %}

 
{% block content %}



<h1 class="govuk-heading-xl ">
    <span class="govuk-caption-xl ">{{ data[caseSelected]['fullName'] }}</span>
   Add case note
  </h1>


<!--Text area -->
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{{ govukTextarea({
  name: "addNote",
  id: "more-detail",
  classes: "govuk-!-width-two-thirds",
  label: {
    text: ""
  }
}) }}

<form class="form" action="../cases/new/case1/case_timeline" method="post">


<div class="govuk-button-group">
  <input type="hidden" name="reopen-case" value="001">
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Save
    </button>
    <a class="govuk-link" onclick="history.back();">Cancel</a>
  </div>

</form>



{% endblock %}