{% extends "layouts/question_page_v1.html" %}

 
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Your client's date of birth
      </h1>

      <form class="form" action="../../cases/accepted/case1/clientdetails" method="post">
        
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="date of birth hint">
            <div id="passport-issued-hint" class="govuk-hint">
              For example, 27 3 2024
            </div>
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="birth-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="birth-day" name="birthDay" type="text" inputmode="numeric" value="{{ data['birthDay'] }}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="birth-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="birth-month" name="birthMonth" type="text" inputmode="numeric" value="{{ data['birthMonth'] }}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="birth-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="birthYear" type="text" inputmode="numeric" value="{{ data['birthYear'] }}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        

        <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button">
              Save
            </button>
            <a class="govuk-link" onclick="history.back();">Cancel</a>
          </div>

      </form>

    </div>
  </div>

{% endblock %}