{% extends "layouts/timeline_v1.html" %}



{% block subnav %}

  {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

  <nav class="moj-sub-navigation govuk-!-margin-bottom-0" aria-label="Sub navigation">

    <ul class="moj-sub-navigation__list">
      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link" href="../case1/clientdetails.html">Client details</a>
      </li>
  
      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link"  href="../case1/scope.html">Scope</a>
      </li>
  
      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link"  href="../case1/financial_eligibility_b.html">Financial eligibility</a>
      </li>

      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link"  href="../case1/case_notes.html">Notes</a>
      </li>

      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link" aria-current="page" href="../case1/case_history.html">Case history</a>
      </li>
    </ul>
  
  </nav>


  {% endblock %}

  {% block content %}

<h2 class="govuk-heading-m">Case history</h2>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header ">Date</th>
      <th scope="col" class="govuk-table__header">User</th>
     
 
      <th scope="col" class="govuk-table__header ">Update</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
   
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">13 Nov 2023 <br>03:23</td>
      <td class="govuk-table__cell">Tattina Wolf</td>
      <td class="govuk-table__cell"><strong>Case closed</strong><br><strong class="govuk-tag govuk-tag--blue govuk-!-margin-top-1"> CLSP </strong></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">7 Nov 2023 <br>01:43pm</td>
      <td class="govuk-table__cell">Tattina Wolf</td>
      <td class="govuk-table__cell"><strong>Means test changed</strong><br>Does client have a partner changed to 'yes'</td>
    </tr>
    
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">7 Nov 2023 <br>01:43pm</td>
      <td class="govuk-table__cell">Tattina Wolf</td>
      <td class="govuk-table__cell"><strong>Means test completed</strong><br>Client determined to be financially eligible</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">7 Nov 2023 <br>11:02am</td>
      <td class="govuk-table__cell">Tattina Wolf</td>
      <td class="govuk-table__cell"><strong>Case accepted</strong><br><strong class="govuk-tag govuk-tag--blue govuk-!-margin-top-1"> SPOP </strong><br></td>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">7 Mar 2023 <br>11:01am</td>
      <td class="govuk-table__cell">Tattina Wolf</td>
      <td class="govuk-table__cell"><strong>Client requires callback</strong><br>Client phone number: 01234 598202<br><strong class="govuk-tag govuk-tag--blue govuk-!-margin-top-1"> CBSP </strong></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">5 Mar 2023 <br>09:00</td>
      <td class="govuk-table__cell">Call Operator</td>
      <td class="govuk-table__cell"><strong>Case assigned to Howells</strong><br><strong class="govuk-tag govuk-tag--blue govuk-!-margin-top-1"> REFSP </strong></td>
      
    </tr>
  </tbody>
</table>


{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{{ govukPagination({
  next: {
    href: "#"
  },
  items: [
    {
      number: 1,
      current: true,
      href: "#"
    },
    {
      number: 2,
      href: "#"
    },
    {
      number: 3,
      href: "#"
    }
  ]
}) }}

  {% endblock %}

 
 