{% extends "layouts/timeline_v1.html" %}


<!---Overide tag to say 'closed'-->

{% block tag %}

  <div><strong class="govuk-tag govuk-!-margin-bottom-2 govuk-!-margin-top-4">Closed</strong></div>

{% endblock %}

<!---Overide subnav-->

{% block subnav %}

  {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

  <nav class="moj-sub-navigation govuk-!-margin-bottom-0" aria-label="Sub navigation">

    <ul class="moj-sub-navigation__list">
      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link" href="../case1/clientdetails.html">Client details</a>
      </li>
  
      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link" href="../case1/scope.html">Scope</a>
      </li>
  
      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link" href="../case1/financial_eligibility.html">Financial eligibility</a>
      </li>

      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link" aria-current="page"  href="../case1/case_timeline.html">Notes</a>
      </li>
    </ul>
    </ul>
  
  </nav>

{% endblock %}

<!---Override menu to show reopen button-->

{% block buttons %}

    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Reopen case",
      classes: "govuk-button--primary"
  }) }}


        
{% endblock %}

