{% extends "layouts/accepted_case_v1.html" %}


  {% block content %}

<h2 class="govuk-heading-m">Client details</h2>

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  card: {
    title: {
      text: "About the client"
    }
  },
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        html: data['fullName'] 
      },
      actions: {
        items: [
          {
            href: "../../../change_answer/client_details/client_name.html",
            text: "Change",
            visuallyHiddenText: "age"
          }
        ]
      }
    },
    {
      key: {
        text: "NI number"
      },
      value: {
        html: "MA151066C"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "nationality"
          }
        ]
      }
    },
    {
      key: {
        text: "Date of Birth"
      },
      value: {
        html: "17 December 1981"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "Date of Birth"
          }
        ]
      }
    },
    {
        key: {
          text: "Urgent"
        },
        value: {
          html: "Yes"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "Urgent"
            }
          ]
        }
      }

    
  ]
}) }}

{{ govukSummaryList({
  card: {
    title: {
      text: "Contact details"
    }
  },
  rows: [
    {
      key: {
        text: "Address"
      },
      value: {
        html: " 5 Green Lane,
        Birmingham,
        BR0 203"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "whether details are known"
          }
        ]
      }
    },
    {
      key: {
        text: "Phone number"
      },
      value: {
        html: "07770 856422"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "relationship to lead tenant"
          }
        ]
      }
    },
    {
      key: {
        text: "Adaptions"
      },
      value: {
        html: "No adaptions"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "age"
          }
        ]
      }
    },
    {
      key: {
        text: "Media code"
      },
      value: {
        html: "Don't know"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "working situation"
          }
        ]
      }
    },
    {
      key: {
        text: "Language"
      },
      value: {
        html: "English"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "working situation"
          }
        ]
      }
    },
    {
      key: {
        text: "Additional info"
      },
      value: {
        html: "Free text"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "working situation"
          }
        ]
      }
    },
    {
      key: {
        text: "Client is vunerable"
      },
      value: {
        html: "No"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "working situation"
          }
        ]
      }
    },
    {
      key: {
        text: "Contactable for research"
      },
      value: {
        html: "No"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "working situation"
          }
        ]
      }
    }
  ]
}) }}



<h2 class="govuk-heading-m">Third party contact</h2>

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Add third party contact",
  classes: "govuk-button--secondary"
}) }}

  {% endblock %}