{% extends "layouts/accepted_case_v1.html" %}


  {% block content %}



<h2 class="govuk-heading-m">Client details</h2>

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  card: {
    title: {
      text: "About the client"
    }
  },
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        html: data['fullName'] 
      },
      actions: {
        items: [
          {
            href: "../../../change_answer/client_details/client_name.html",
            text: "Change",
            visuallyHiddenText: "age"
          }
        ]
      }
    },
    {
      key: {
        text: "NI number"
      },
      value: {
        html: data['niNumber'] 
      },
      actions: {
        items: [
          {
            href: "../../../change_answer/client_details/client_nino.html",
            text: "Change",
            visuallyHiddenText: "nationality"
          }
        ]
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        html: data['birthDay'] + " " +  data['birthMonth']  + " "  + data['birthYear']
      },
      actions: {
        items: [
          {
            href: "../../../change_answer/client_details/client_dob.html",
            text: "Change",
            visuallyHiddenText: "Date of Birth"
          }
        ]
      }
    },
    {
        key: {
          text: "Urgent"
        },
        value: {
          html: data['urgent'] + "<br>" +  data['urgentReason']
        },
        actions: {
          items: [
            {
              href: "../../../change_answer/client_details/client_urgent.html",
              text: "Change",
              visuallyHiddenText: "Urgent"
            }
          ]
        }
      }

    
  ]
}) }}

{{ govukSummaryList({
  card: {
    title: {
      text: "Contact details"
    }
  },
  rows: [
    {
      key: {
        text: "Address"
      },
      value: {
        html: " 5 Green Lane,
        Birmingham,
        BR0 203"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "whether details are known"
          }
        ]
      }
    },
    {
      key: {
        text: "Phone number"
      },
      value: {
        html: "07770 856422"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "relationship to lead tenant"
          }
        ]
      }
    },
    {
      key: {
        text: "Adaptions"
      },
      value: {
        html: "No adaptions"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "age"
          }
        ]
      }
    },
    {
      key: {
        text: "Media code"
      },
      value: {
        html: "Don't know"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "working situation"
          }
        ]
      }
    },
    {
      key: {
        text: "Language"
      },
      value: {
        html: "English"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "working situation"
          }
        ]
      }
    },
    {
      key: {
        text: "Additional information"
      },
      value: {
        html: "Free text"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "working situation"
          }
        ]
      }
    },
    {
      key: {
        text: "Client is vulnerable"
      },
      value: {
        html: "No"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "working situation"
          }
        ]
      }
    },
    {
      key: {
        text: "Contactable for research"
      },
      value: {
        html: "No"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "working situation"
          }
        ]
      }
    }
  ]
}) }}

<!--Third party contact-->


{% if data['thirdParty'] == "Yes" %}

<h2 class="govuk-heading-m">Third party contact</h2>

{{ govukSummaryList({
  card: {
    title: {
      text: "Third party contact"
    },
    actions: {
      items: [
        {
          href: "../../../change_answer/client_details/client_thirdparty.html",
          text: "Change",
          visuallyHiddenText: "Change"
        },
        {
          href: "../../../cases/accepted/case1/clientdetails.html?thirdParty=No",
          text: "Remove",
          visuallyHiddenText: "Remove"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        html: data['thirdPartyName'] 
      }
    },
    {
      key: {
        text: "Address"
      },
      value: {
        html: data['thirdPartyAddressLine1'] + "<br>" +  data['thirdPartyAddressLine2'] + "<br>" +  data['thirdPartyTown'] + "<br>" +  data['thirdPartyCounty'] + "<br>" +  data['thirdPartyPostcode']
      }
    },
    {
      key: {
        text: "Contact number"
      },
      value: {
        html: data['thirdPartyPhoneNumber'] 
      }
    },
    {
      key: {
        text: "Email address"
      },
      value: {
        html: data['thirdPartyEmail'] 
      }
    },
    {
      key: {
        text: "Relationship to Client"
      },
      value: {
        html: data['thirdPartyRelationshipToClient'] 
      }
    },
    {
      key: {
        text: "Passphrase"
      },
      value: {
        html: data['thirdPartyPassphrase'] 
      }
    },
    {
      key: {
        text: "Advisor spoken to client?"
      },
      value: {
        html: data['thirdPartySpokenToClient'] 
      }
    },
    {
      key: {
        text: "Contactable for research"
      },
      value: {
        html: data['thirdPartyResearch'] 
      }
    }
  ]
}) }}

{% else %}

<!--If Third party contact = No, then show button-->

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Add third party contact",
  classes: "govuk-button--secondary",
  href: "../../../change_answer/client_details/client_thirdparty.html"
}) }}

{% endif %}


  {% endblock %}