{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    {% from "govuk/components/tabs/macro.njk" import govukTabs %}
    {% from "govuk/components/table/macro.njk" import govukTable %}
    
    {% set currentHtml %}
    

    <h3 class="govuk-heading-sm">Version 1. Specialist Provider Interface</h2>

      {{ govukButton({
        text: "Start now",
        href: "v1/home/new.html",
        isStartButton: true
      }) }}
    <h4 class="govuk-heading-s">Shortcuts to key views</h2>
    
    <p><a href="v1/home/new.html">View all cases</a> </p>
    <p><a href="v1/cases/new/case1/clientdetails.html">New case</a> </p>
    <p><a href="v1/cases/new/case1/financial_eligibility.html">New case - Means test not started</a> </p>
    <p><a href="v1/cases/accepted/case1/clientdetails.html">Accepted case</a> </p>
    <p><a href="v1/cases/accepted/case1/scope.html">Accepted case - Scope </a> </p>
    <p><strong>Design explorations</strong></p>
    <p>Financial eligibility</p>
    <p><a href="v1/cases/accepted/case1/financial_eligibility_b.html">Accepted case - Means test eligible result - Design B</a> Eligibiity result matches that of scope </p>
    <p><a href="v1/cases/accepted/case1/financial_eligibility.html">Accepted case - Means test eligible result - Design A</a> Direct copy of CCQ results</p>
    <p> Case notes and history</p>
    <p><a href="v1/cases/accepted/case1/case_timeline.html">Accepted case - Case timeline - Design A</a> Case notes and history combined in one tab to form timeline </p>
    <p><a href="v1/cases/accepted/case1/case_notes.html">Accepted case - Case notes - Design B</a> Case notes and history seperate (closer to current CHS) </p>
    {% endset -%}
    
    {% set archiveHtml %}
    <h2 class="govuk-heading-l">Archive</h2>
    
    {% endset -%}
    
    {{ govukTabs({
      items: [
        {
          label: "Current",
          id: "Current",
          panel: {
            html: currentHtml
          }
        },
        {
          label: "Archive",
          id: "Archive",
          panel: {
            html: archiveHtml
          }
        }
        
        
      ]
    }) }}
    

    
  </div>
</div>

{% endblock %}
