{% extends "layouts/v2.html" %}

{% set bodyClasses = "v2" %}
{% set version = "v2" %}

{% block stylesheets %}
  {{ super() }}
  <link href="/public/sass/additional.css" rel="stylesheet" type="text/css" />
{% endblock %}


{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
}) }}


{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back to all cases",
  href: "../../../home/new.html"
}) }}

  <!---If urgent show this banner-->
  <!-- {% if (data[caseSelected]['urgent'] == "Yes") %}
  <div class="urgent govuk-notification-banner govuk-!-margin-top-2 govuk-!-margin-bottom-2 " role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Urgent
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-notification-banner__heading">
        {{ data[caseSelected]['urgentReason'] }}
      </p>
    </div>
  </div>
  {% endif %} -->

  <!--If clase is reopened show this show banner-->

{% if data[caseSelected]['reopen-case'] %}
<div class="govuk-notification-banner govuk-notification-banner--success  govuk-!-margin-bottom-6" role="alert"  aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      Case for {{ data[caseSelected]['fullName'] }} reopened successfully
    </p>
  </div>
</div>
{% endif %}

  <!---Accepted Tag-->

  {% block tag %}

  <div><strong class="govuk-tag govuk-!-margin-bottom-2 govuk-!-margin-top-4">Accepted</strong></div>

  {% endblock %}

  <!---Name & Case number-->
  
  <h1 class="govuk-heading-xl ">
    <span class="govuk-caption-xl ">{{ data[caseSelected]['caseReference'] }}</span>
    {{ data[caseSelected]['fullName'] }}
  </h1>

  <!---Date and entitlement-->

    {% block date %}

     <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Date received: <span class="govuk-body-l">{{ data[caseSelected]['dateRecieved'] }}</span></h2>
     <h2 class="govuk-heading-m govuk-!-margin-bottom-7">LAA Reference: <span class="govuk-body-l">3000742</span></h2>

    {% endblock %}

  <!---Button menu-->

    {% block buttons %}

    <div class="govuk-button-group">
    
       
      <a href="#"><button type="submit" class="govuk-button " data-module="govuk-button">
          Generate legal help form
        </button></a>

      <form  action="/{{ version }}/reject-case" method="post">
        <button type="submit" class="govuk-button  govuk-button--secondary" data-module="govuk-button">
          Reject case
        </button>
        </form>

        <a href="{{version}}../../../../../case_actions/split_areaOfLaw"><button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Split case
        </button></a>

        <form  action="/{{ version }}/close-case" method="post">
          <input type="hidden" name="close-case" value="001">
        <button type="submit" class="govuk-button  govuk-button--secondary" data-module="govuk-button">
          Close case
        </button>
        </form>

        <form  action="/{{ version }}/feedback-case" method="post">
          <button type="submit"  class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Leave feedback
          </button>
          </form>
      
    </div>
        
    {% endblock %}

  <!---Subnav-->

  {% block subnav %}

  {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

  <nav class="moj-sub-navigation govuk-!-margin-bottom-0" aria-label="Sub navigation">

    <ul class="moj-sub-navigation__list">
      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link" aria-current="page" href="../case1/clientdetails.html">Client details</a>
      </li>
  
      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link" href="../case1/scope.html">Scope</a>
      </li>
  
      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link" href="../case1/financial_eligibility_b.html">Financial eligibility</a>
      </li>

      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link"  href="../case1/case_timeline.html">Notes and history</a>
      </li>
    </ul>
    </ul>
  
  </nav>


  {% endblock %}

{% endblock %}
