{% extends "layouts/v1.html" %}

{% set bodyClasses = "v1" %}
{% set version = "v1" %}



{% block beforeContent %}


{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back to all cases",
  href: "../../../home/new.html"
}) }}

  <div><strong class="govuk-tag govuk-!-margin-bottom-2 govuk-!-margin-top-4">New</strong></div>

  <h1 class="govuk-heading-xl ">
    <span class="govuk-caption-xl ">PC-4950-9422</span>
    {{ data['fullName'] }}
  </h1>

    <!---Date-->

  {% block date %}

  <h2 class="govuk-heading-m govuk-!-margin-bottom-7">Date received: <span class="govuk-body-l">14 January 2025</span></h2>

  {% endblock %}

    <!---Buttons-->

  {% block buttons %}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Accept case",
          href: "../../accepted/case1/clientdetails.html"
        }) }}
      
        {{ govukButton({
          text: "Reject case",
          classes: "govuk-button--secondary"
        }) }}

        {{ govukButton({
            text: "Split case",
            classes: "govuk-button--secondary"
        }) }}

        {{ govukButton({
            text: "Close case",
            classes: "govuk-button--secondary"
        }) }}

        
      </div>
  {% endblock %}

  <!---Subnav-->

  {% block subnav %}

  {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

  <nav class="moj-sub-navigation govuk-!-margin-bottom-0" aria-label="Sub navigation">

    <ul class="moj-sub-navigation__list">
      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link" aria-current="page" href="../case1/clientdetails.html">Client details</a>
      </li>
  
      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link" href="../case1/scope.html">Scope</a>
      </li>
  
      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link" href="../case1/financial_eligibility.html">Financial eligibility</a>
      </li>

      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link" href="#3">Notes</a>
      </li>

      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link" href="#3">Case history</a>
      </li>
    </ul>
  
  </nav>


  {% endblock %}
{% endblock %}
