{% extends "layouts/accepted_case_v1.html" %}

{% set bodyClasses = "v1" %}
{% set version = "v1" %}

{% block stylesheets %}
  {{ super() }}
  <link href="/public/sass/additional.css" rel="stylesheet" type="text/css" />
{% endblock %}



 {% block subnav %}

  {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

  <nav class="moj-sub-navigation govuk-!-margin-bottom-0" aria-label="Sub navigation">

    <ul class="moj-sub-navigation__list">
      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link" href="../case1/clientdetails.html">Client details</a>
      </li>
  
      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link" href="../case1/scope.html">Scope</a>
      </li>
  
      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link"  href="../case1/financial_eligibility_b.html">Financial eligibility</a>
      </li>

      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link" aria-current="page"   href="../case1/case_timeline.html">Notes</a>
      </li>
    </ul>
    </ul>
  
  </nav>

{% endblock %}


  {% block content %}

<h2 class="govuk-heading-m">Case  notes</h2>


<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header  ">Date</th>
      <th scope="col" class="govuk-table__header ">User</th>
      <th scope="col" class="govuk-table__header ">Update</th>
    </tr>
  </thead>

  <!--If addNote=none then no note shows -->
  <tbody class="govuk-table__body">

    {% if data[caseSelected]['addNote'] == "none" %}

    <p> </p>

    {% else %}

    <!--If addNote has any other text in it then top row is revealed and shows that text. There is currently no way to remove a note. As a prototpye hack you can remove by adding a new note that just says 'none' s -->

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">26 Jun 2025 <br>03:23</td>
      <td class="govuk-table__cell">New user</td>
      <td class="govuk-table__cell"><strong>Note added</strong><br>{{ data[caseSelected]['addNote'] }}</td>
    </tr>

    {% endif %}
   
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">13 Jun 2025 <br>03:23</td>
      <td class="govuk-table__cell">[Specialist provider name]</td>
      <td class="govuk-table__cell"><strong>Case closed</strong><br><strong class="govuk-tag govuk-tag--blue govuk-!-margin-top-1"> CLSP </strong></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">7 Jun 2025 <br>01:43pm</td>
      <td class="govuk-table__cell">[Specialist provider name]</td>
      <td class="govuk-table__cell"><strong>Note added</strong><br>
        OR 10/12/2024: Case Taken on Provisionally.<br>
Scope - Cl happy to continue.<br>
Protected Characteristics: Race.
<br><br>
Cl adv she is British Caribbean, cl states she is white.
<br><br>
Employer - Eden Care Homes LTD.<br>
Role: Residential Child Care Worker.<br>
Start date: 25th September 2024.<br>
Clad she resigned due to her mental health - 29th November 2024.<br>
Cl handed resignation in a few weeks before - 18th November 2024.
<br><br>
Cl adv that the R stated the cl was suspended but did not give any information, no insight into incident date or what has apparently been said, cl adv this occurred over 7-8 weeks.<br>
Cl adv 8 weeks before that her son had taken an overdose and R aware of cl's mental health, a member of staff asked for manager to give cl leave and boss stated cl had refused this.<br>
Cl adv R did not contact her, cl had only 2 emails, cl chasing manager a lot of the time.<br>
Originally R stated that the suspension would be overcome.
<br><br>
Last Act of Discrimination - 2nd October 2024 (Suspended)<br>
Colleague adv cl had threatened a member of staff - cl adv she has not had any complaints.<br>
Cl was off sick at the time of the suspension - taking care of daughter.<br>
R would not outline the date the incident occurred.<br>
R wanted cl to attend a dismissal meeting, and the letter stated that there would be a dismissal, this scared the cl and she resigned.<br>
Cl did not have insight into why she was suspended
<br><br>
Cl requested investigation report - R has not provided this.<br>
Manager adv during resignation - cl asked for report again and R adv they had posted this and cl had not received this.<br>
Cl got a copy of this via email and this was not an investigation report - minutes taken for when the cl did a fact finding meeting - cl then received the statement from a colleague.
Cl adv a young person was questioned<br>
Cl raised issues - why was she suspended when other colleagues accused of sexual assault and grooming a child, they weren't suspended.<br>
Statement states "I don't know if Becky was having banter or not but it made me uncomfortable".<br>
Cl states that she is white and other colleagues are Asian and have had allegations but they have not been suspended.<br>
Clad white members of staff are being treated unfairly.
<br><br>
Cl handed notice in on the 18th November 2024.
<br><br>
Union - cl was speaking with a Union.
<br><br>
Cl is still working with the Union at the moment, union membership lapsed and cl had to rejoin this.<br>
Union adv that they cannot assist with previous acts if the membership has lapsed.<br>
Cl not working with Union at the moment.
<br><br>
Grievances:<br>
Cl wanted to have a meeting so that she could submit a grievance.<br>
Cl has sent complaints via text.
<br><br>
Cl states the suspension is still open and R will not close this.<br>
Cl states impacting her from getting another role and after reading cl does not think grounds to be suspended.<br>
Cl could have been placed in another place, cl stopped staff from being bullied by team leader, cl has witnesses who will give a strong character reference.
<br><br>
Thursday - R had not created a work email for the cl, and cl asked about this during a meeting ,and R adv they would amend this, cl and another colleague raised issues to do with management and then cl was suspended. Both employees suspended due to raising issues against Asian members of staff.
<br><br>
ACAS:<br>
Notification - October 2024. (Relating to getting investigation report)<br>
Early Conciliation Certificate - Cl not received this yet.<br>
Cl has spoken to local CAB.
<br><br>
Outcome:<br>
Compensation.
<br><br>
Cl has gotten a new job since handing in resignation but because R will not close suspension el cannot work.<br>
Cl adv this is negatively impacted her life.<br>
R has taken a loan repayment - cl does not have a loan with R, cl has not had wages.
<br><br>
Advice:
OR adv scope of CAG service - discrimination specialists, remote service, unable to provide representation, service ran by caseworkers - Cl happy to continue.<br>
OR adv CAG will take this case on provisionally for review, but before we can confirm what assistance can be offered, if any, we need to complete a FA and MA.<br>
OR adv assessments can take up to 3 weeks to complete, and we would be unable to provide nay legal advice until LA eligibility determined.<br>
OR adv the clis responsible for adhering to deadlines at all times.<br>
OR adv it may be appropriate for the cl to contact ACAS to attempt EC.<br>
OR adv the cl has 3 months less one day to submit an ET1 claim to the ET.<br>
OR adv intro via email and WP via Adobe Sign - cl happy with this.
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">7 Jun 2025 <br>01:43pm</td>
      <td class="govuk-table__cell">[Specialist provider name]</td>
      <td class="govuk-table__cell"><strong>Means test changed</strong><br>Does client have a partner changed to 'yes'</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">7 Jun 2025 <br>01:43pm</td>
      <td class="govuk-table__cell">[Specialist provider name]</td>
      <td class="govuk-table__cell"><strong>Means test completed</strong><br>Client determined to be financially eligible</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">7 Mar 2025 <br>11:02am</td>
      <td class="govuk-table__cell">[Specialist provider name]</td>
      <td class="govuk-table__cell"><strong>Case accepted</strong><br><strong class="govuk-tag govuk-tag--blue govuk-!-margin-top-1"> SPOP </strong><br></td>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">7 Mar 2025 <br>11:01am</td>
      <td class="govuk-table__cell">Call Operator</td>
      <td class="govuk-table__cell"><strong>Client requires callback</strong><br>Client phone number: 01234 598202<br><strong class="govuk-tag govuk-tag--blue govuk-!-margin-top-1"> CBSP </strong></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">5 Mar 2025 <br>09:00</td>
      <td class="govuk-table__cell">Call Operator</td>
      <td class="govuk-table__cell"><strong>Case assigned to [SP firm name]</strong><br><strong class="govuk-tag govuk-tag--blue govuk-!-margin-top-1"> REFSP </strong></td>
      
    </tr>
    <tr class="govuk-table__row"> 
      <td class="govuk-table__cell">5 Mar 2025 <br>09:00</td>
      <td class="govuk-table__cell">Call Operator</td>
      <td class="govuk-table__cell"><strong>Scope diagnosis created</strong><br> Category of law: Discrimination</td>
      
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">5 Mar 2025 <br>09:00</td>
      <td class="govuk-table__cell">Call Operator</td>
      <td class="govuk-table__cell"><strong>Case created</strong></td>
      
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">5 Mar 2025 <br>09:00</td>
      <td class="govuk-table__cell">Client</td>
      <td class="govuk-table__cell">I was suspended at work and pushed out of my job because I am white other Asian employees have been accused of much more severe allegations and have not been suspended or
        <br><br>
        Client selected:<br>
        What do you need help with?: Employment<br>
        What is your employment problem about?: Discrimination<br>
        On what grounds have you been discriminated against?: Race<br>
        Where did the discrimination occur?: At work<br>
        <br>
        Outcome: INSCOPE</td>
      
    </tr>
  </tbody>
</table>


<form class="form" action="#" method="post">

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="more-detail">
      Add note 
    </label>
  </h1>
  <textarea class="govuk-textarea govuk-!-width-two-thirds" id="more-detail" name="addNote" rows="5" aria-describedby="more-detail-hint"></textarea>
</div>

<button type="submit" class="govuk-button" data-module="govuk-button">
  Save note
</button>

</form>


{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{{ govukPagination({
  next: {
    href: "#"
  },
  items: [
    {
      number: 1,
      current: true,
      href: "#"
    },
    {
      number: 2,
      href: "#"
    },
    {
      number: 3,
      href: "#"
    }
  ]
}) }}

  {% endblock %}

 
 