{% extends "layouts/main.html" %}

{% set bodyClasses = "v1" %}
{% set version = "v1" %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Manage legal help cases",
  serviceUrl: "/v1/home/new",
  classes: "govuk-header--full-width-border",
  navigation: [
    {
      href: "#1",
      text: "Username",
      active: true
    },
    {
      href: "#2",
      text: "Sign out"
    }
  ]
}) }}



{% endblock %}


{% block footer %}
 {{ govukFooter({
   meta: {
     items: [
     {
        href: "/v1/home/new",
        text: "Version 1"
      },
       {
         href: "/privacy",
         text: "Privacy policy"
       },
       {
         href: "/manage-prototype",
         text: "Manage your prototype"
       },
       {
         href: "/manage-prototype/clear-data",
         text: "Clear data"
       },
       {
        href: "/",
        text: "Index"
      }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
 {% endblock %}